<?xml version="1.0" encoding="utf-8"?>
<!-- CDDL HEADER START
	The contents of this file are subject to the terms of the Common Development
	and Distribution License (the "License").
	You may not use this file except in compliance with the License.

	You can obtain a copy of the license at
	src/com/vodafone360/people/VODAFONE.LICENSE.txt or
	http://github.com/360/360-Engine-for-Android
	See the License for the specific language governing permissions and
	limitations under the License.

	When distributing Covered Code, include this CDDL HEADER in each file and
	include the License file at src/com/vodafone360/people/VODAFONE.LICENSE.txt.
	If applicable, add the following below this CDDL HEADER, with the fields
	enclosed by brackets "[]" replaced with your own identifying information:
	Portions Copyright [yyyy] [name of copyright owner]

	CDDL HEADER END

	Copyright 2010 Vodafone Sales & Services Ltd.  All rights reserved.
	Use is subject to license terms.
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android" 
	android:versionCode="50"
	android:versionName="50"
	package="com.vodafone360.people"
	>
      
    <!-- WARNING: Only Edit "AndroidManifest.xml.edit" as the contents of the main file will be overwritten -->
      
    <supports-screens
    	android:smallScreens="true"
		android:normalScreens="true"
		android:largeScreens="true"
		android:anyDensity="true"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />  
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CALL_PRIVILEGED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MODIFY_PHONE_STATE" />
	<uses-permission android:name="android.permission.READ_CONTACTS" />
	<uses-permission android:name="android.permission.GET_ACCOUNTS" />
	<uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
	<uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS"/>
	<uses-permission android:name="android.permission.VIBRATE"/>
	<uses-permission android:name="android.permission.WAKE_LOCK"/>
	<uses-permission android:name="android.permission.WRITE_CONTACTS" />
	<uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SMS"/>
    <!-- Android 2.X specific -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>

	<!-- FLURRY only -->
	<!-- <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> -->
 	
    <application android:theme="@style/PeopleWhiteTheme" 
		android:name=".MainApplication"
		android:label="@string/app_name" 
		android:debuggable="true"
		android:icon="@drawable/pt_launcher_icon">
          
       <!-- Debug activities %%%%%%%% -->
       <!--  For a live release:
       			- Comment out .debug. Activities below
       			- Set application.android:debuggable to false
       	-->	
        <activity android:name=".ui.debug.UpdateServiceAgentActivity"
        	android:label="@string/UpdateServiceAgentActivity_TextView_title">
        	<intent-filter>
				<action	android:name="com.vodafone360.people.ui.debug.UPDATE_SERVICEAGENT"/>
				<category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>
		</activity>
		<activity android:name=".ui.debug.PresenceListActivity"
        	android:label="@string/PresenceViewActivity_TextView_title">
        	<intent-filter>
				<action	android:name="com.vodafone360.people.ui.debug.VIEW_PRESENCE_NEW"/>
				<category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>
		</activity>
		<activity android:name=".ui.debug.PresenceViewActivity"
        	android:label="@string/PresenceViewActivity_TextView_title">
        	<intent-filter>
				<action	android:name="com.vodafone360.people.ui.debug.VIEW_PRESENCE"/>
				<category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>
		</activity>
		<activity android:name=".ui.debug.DatabaseDebugActivity"
        	android:label="Database Debug">
        	<intent-filter>
				<action	android:name="com.vodafone360.people.ui.debug.VIEW_DATABASE_DEBUG"/>
				<category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>
		</activity>
        <!-- Debug activities %%%%%%%% -->
        
    	 <!-- Activity whose purpose is to start either login or contacts list -->
    	<activity android:name=".ui.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
         <!-- Login/register activity -->
        <activity android:name=".ui.startup.LandingPageActivity"/>
                
        <!-- 360 Account Creation Create Account Details activity -->
        <activity android:name=".ui.startup.signup.SignupCreateAccountDetailsActivity"
        	android:windowSoftInputMode="adjustPan" />
        
        <!-- 360 Account Creation Password Creation activity -->		
        <activity android:name=".ui.startup.signup.SignupPasswordCreationActivity"
        	android:windowSoftInputMode="adjustPan" />
   
        <!-- 360 Account Third Party Accounts activity -->		
        <activity android:name=".ui.thirdparty.ThirdPartyAccountsActivity"
        	android:windowSoftInputMode="adjustPan" />
        
        <!-- 360 Account Third Party EnterAccount Details activity -->		
        <activity android:name=".ui.thirdparty.ThirdPartyEnterAccountActivity"
        	android:windowSoftInputMode="adjustPan" />
        
        <!-- 360 Account Third Party EnterAccount Details activity -->		
        <activity android:name=".ui.thirdparty.ValidatingYourThirdPartyAccountActivity" />
        
        <!-- 360 Contact Status List activity -->		
        <activity android:name=".ui.status.StatusListActivity" />
        
        <!-- 360 Account Syncing Your Address Book activity -->		
        <activity android:name=".ui.thirdparty.SyncingYourAddressBookActivity" />
        
        <!-- 360 Account Third Party Accounts activity -->		
        <activity android:name=".ui.thirdparty.ThirdPartyNewAccountSelectionActivity" />
        
        <!-- 360 Account Creation Login Server activity -->		
        <activity android:name=".ui.startup.signup.SignupLoginServerActivity"
        	android:windowSoftInputMode="adjustPan" />
        
        <!-- Tab container for TwelveKeyDialer, RecentCallsList -->
        <activity android:name=".ui.tabs.StartTabsActivity"
        	android:launchMode="singleTask"
        	android:screenOrientation="nosensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android-dir/mms-sms"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.DIAL" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:mimeType="vnd.android.cursor.item/phone" />
                <data android:mimeType="vnd.android.cursor.item/person" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.DIAL" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="voicemail" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.DIAL" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:mimeType="vnd.android.cursor.dir/calls" />
            </intent-filter>            
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android-dir/mms-sms" android:scheme="content"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.CALL_BUTTON" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>			
			<intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.DIAL" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="tel" />
            </intent-filter>
        </activity>
        
		<!-- A virtual 12 key dialer -->
        <activity android:name=".ui.tabs.TwelveKeyDialer"
            android:launchMode="singleTop"
            android:screenOrientation="nosensor">
            <intent-filter>
                <action android:name="com.android.phone.action.TOUCH_DIALER" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.TAB" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.timeline.TimelineListActivity"/>
        <activity android:name=".ui.timeline.TimelineHistoryActivity"/>
        <activity android:name=".ui.startup.login.ForgotUsernameActivity"
			android:theme="@style/PeopleWhiteTheme.Dialog"/>
        
        <!-- The list of contacts -->
    	<activity android:name=".ui.contacts.ContactListActivity"> 
    		<intent-filter>
                <action android:name="android.intent.action.INSERT_OR_EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/person" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.android.contacts.action.FILTER_CONTACTS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data android:name="android.app.searchable" android:resource="@xml/searchable" />
    	</activity>

		<!-- About activity -->		
        <activity android:name=".ui.settings.AboutActivity" 
        	android:theme="@style/PeopleWhiteTheme.Dialog" />
        
        <!-- Settings activity -->		
        <activity android:name=".ui.settings.NetworkSettingsActivity"/>
        
        <!-- AppSettings activity -->
        <activity android:name=".ui.settings.SettingsActivity" 
        	android:windowNoTitle="false"/>
        	
        <!-- Used by Widget -->	
		<activity android:name=".ui.widget.ChangeWidgetPhotoActivity" 
        	android:windowNoTitle="false"/> 	
        	
       	<activity android:name=".ui.widget.PeopleWidgetSetPresenceActivity"
       		android:theme="@style/PeopleWhiteTheme.Dialog"/>
        <!-- END used by Widget -->
         
        <!-- The contact details -->
        <activity android:name=".ui.contacts.ContactProfileActivity">
	        <intent-filter>
	  			<action android:name="android.intent.action.VIEW" /> 
	  			<category android:name="android.intent.category.DEFAULT" /> 
	  			<data android:mimeType="vnd.android.cursor.item/com.vodafone360.people.profile" /> 
	  		</intent-filter>
		</activity>
		<!-- Edits the details of a single contact -->
        <activity android:name=".ui.contacts.EditContactActivity" 
			android:windowSoftInputMode="stateVisible|adjustResize">
            <intent-filter android:label="@string/editContactDescription">
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter android:label="@string/insertContactDescription">
                <action android:name="android.intent.action.INSERT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <!-- Display Terms and Conditions Activity -->
       
    	<activity android:name=".ui.utils.DisplayTermsActivity"
			android:theme="@style/PeopleWhiteTheme.Dialog">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        
        <!-- Login Account Details activity -->		
        <activity android:name=".ui.startup.login.LoginAccountDetailsActivity"
             android:windowSoftInputMode="adjustPan" />
        
        <!-- Login Account Server activity -->		
        <activity android:name=".ui.startup.login.LoginAccountServerActivity"
        	android:windowSoftInputMode="adjustPan" />
      
        <!-- Enter phone number manually activity -->		
        <activity android:name=".ui.startup.EnterMobileNumberActivity"
			android:windowSoftInputMode="adjustPan" />
        
        <!-- Roaming notification dialog -->
        <activity android:name=".ui.utils.RoamingNotificationActivity"
			android:theme="@style/PeopleWhiteTheme.Dialog" />
        
        <!-- Makes .ContactListActivity the search target for any activity in Contacts -->
        <meta-data android:name="android.app.default_searchable" 
			android:value=".ui.ContactListActivity" />
                
       	<!-- Edits the details of a single contact -->		
        
		<service android:name=".service.RemoteService" 
		android:exported = "true">
			<intent-filter>
				<action 
				android:name="com.vodafone360.people.service.IRemoteService" />
			</intent-filter>
			<intent-filter>
				<action 
				android:name="android.accounts.AccountAuthenticator" />
			</intent-filter>
			<meta-data 
				android:name="android.accounts.AccountAuthenticator"
				android:resource="@xml/authenticator" />
			<intent-filter>
                <action 
                android:name="android.content.SyncAdapter" />
            </intent-filter>
			<meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
			<meta-data
                android:name="android.provider.CONTACTS_STRUCTURE"
                android:resource="@xml/contacts" />
		</service>
						
		<receiver android:name=".service.receivers.StartBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

		<receiver android:name=".service.receivers.SmsBroadcastReceiver" android:enabled="true">
			<intent-filter>
				<action android:name="android.intent.action.DATA_SMS_RECEIVED"/>
				<data android:scheme="sms" />
				<data android:host="localhost" /> 
<!--				<data android:port="16999" />-->
			</intent-filter>
		</receiver>

		<!-- Widget code START -->
		<activity android:name=".ui.widget.PeopleWidgetConfigurator">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
			</intent-filter>
		</activity>
		<receiver android:name=".ui.widget.WidgetProvider">
			<!-- This intent filter is used to display the widget in the home screen list -->
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
			</intent-filter>
			<!-- This intent filter is used to manually update the widget -->
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
				<data android:scheme="people_widget" />
			</intent-filter>
			<meta-data android:name="android.appwidget.provider"
				android:resource="@xml/widget_provider_info" />
		</receiver>
		<!-- Widget code END-->		
			
        <receiver android:name=".ui.utils.SmsSentStatusReceiver">
            <intent-filter>               
                <action android:name="com.vodafone360.people.utils.SmsSentStatusReceiver.MESSAGE_SENT" />
            </intent-filter>
        </receiver>
		
		<receiver android:name=".ui.utils.UINotificationReceiver">
            <intent-filter>               
                <action android:name="com.vodafone360.people.Intents.NEW_CHAT_RECEIVED" />
            </intent-filter>
            <intent-filter>               
                <action android:name="com.vodafone360.people.Intents.ROAMING_ON" />
            </intent-filter>
            <intent-filter>               
                <action android:name="com.vodafone360.people.Intents.ROAMING_OFF" />
            </intent-filter>
            <intent-filter>               
                <action android:name="com.vodafone360.people.Intents.START_LOGIN_ACTIVITY" />
            </intent-filter>
            <intent-filter>               
                <action android:name="com.vodafone360.people.Intents.LOGIN_FAILED" />
            </intent-filter>
            <intent-filter>               
                <action android:name="com.vodafone360.people.Intents.HIDE_LOGIN_NOTIFICATION" />
            </intent-filter>
        </receiver>
 
    </application>
    <uses-sdk android:minSdkVersion="3" />
</manifest>